table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 30%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
  background-color: #dddddd;
}

p.ex1 {
  margin-left: 250px;
}

.mySlides {display:none;}

body{
	margin: 0px;
}
#box1{
	border: 0px solid;
	width: 900px;
	height: 80px;

	background: rgb(220, 192, 127);
	
	margin-top: 50px;
	margin-left: 300px;
	margin-bottom: 50px;
	margin-right: 50px;
	
	

}
#box2{
	border-top: 1px solid;
    border-bottom: 1px solid;
	width: 2000px;
	height: 170px;
	background: rgb(220, 192, 127);
    margin-top: 40px;

	margin-bottom: 50px;
