body{
	margin: 0px;
}
#box1{
	border: 0px solid;
	width: 900px;
	height: 80px;

	background: rgb(241, 211, 139);
	
	margin-top: 50px;
	margin-left: 300px;
	margin-bottom: 50px;
	margin-right: 50px;
	
	

}
#box2{
	border-top: 1px solid;
    border-bottom: 1px solid;
	width: 1500px;
	height: 170px;
	background: rgb(241, 211, 139);
    margin-top: 40px;

	margin-bottom: 50px;


}

#box3{
	border-top: 1px solid;
    border-bottom: 1px solid;
	width: 1500px;
	height: 50px;
	background: rgb(174, 174, 171);
    font-size: large;
    text-align: justify;
  


}




  #toc {
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
  }
  
  #toc ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  #toc li {
    margin: 5px 0;
  }

  #toc a {
    text-decoration: none;
    color: #007BFF;
  }

  #toc a:hover {
    text-decoration: underline;
  }

  <!style for tables>
  <style>
        table {
         font-family:arial, sans-serif;
         border-collapse:collapse;
         width: 30%;

        }

        td,th {
          border:1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }

         tr:nth-child(even) {
            background-color:#dddddd;
         }




       </style>

