
body{
	margin: 0px;
}
#box1{
	border: 0px solid;
	width: 900px;
	height: 80px;

	background: rgb(220, 192, 127);
	
	margin-top: 50px;
	margin-left: 300px;
	margin-bottom: 50px;
	margin-right: 50px;
	
	

}
#box2{
	border-top: 1px solid;
    border-bottom: 1px solid;
	width: 1600px;
	height: 170px;
	background: rgb(220, 192, 127);
    margin-top: 40px;

	margin-bottom: 50px;
}

